body {
    margin: 0;
    background-color: #000;
    color: #fff;
}
.bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* header */
.header {
    padding: 0px 30px;
    background: linear-gradient(
        to top right,
        #1d1b14 2%,
        #101010 4%,
        #101010 51%,
        #2e2a18 100%
    );
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1400px;
    justify-content: space-around;
}

.image-block img {
    width: 650px;
    max-width: 100%;
}

.text-block {
    text-align: left;
    margin: 50px 0px;
    max-width: 555px;
}

.text-block h1 {
    margin: 0;
    font-size: 72px;
    text-transform: uppercase;
}

.text-block p {
    font-size: 26px;
}

/* feature */
.features-icons {
    padding: 41px 76px;
    background-color: #d9d9d9;
    color: #101010;
}

.features-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    row-gap: 35px;
}

.feature {
    flex: 1 1 320px;
    max-width: 320px;
    margin: 0 auto;
}

.feature img {
    width: 145px;
    height: auto;
    margin-bottom: 10px;
}

.feature h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 28px;
    font-weight: normal;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.feature p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    /* header  */
    .header-content {
        flex-direction: row;
        justify-content: left;
    }

    .text-block {
        text-align: left;
    }
    .image-block img {
        display: none;
    }

    /* feature */
    .features-icons {
        padding: 30px 41px;
    }

    .features-container {
        row-gap: 35px;
        align-items: center;
    }
}

@media (max-width: 360px) {
    /* header  */
    .text-block h1 {
        font-size: 41px;
    }
    .text-block p {
        font-size: 20px;
    }

    /* feature */
    .features-icons {
        padding: 20px 41px;
    }

    .feature img {
        width: 115px;
    }
}
