body {
    margin: 0;
    background-color: #d9d9d9;
    color: #fff;
    overflow-x: hidden;
}
.bebas-neue-regular {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nunito {
    font-family: 'Nunito', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* header */
.header {
    padding: 0px 30px;
    background: linear-gradient(
        to top right,
        #1d1b14 2%,
        #101010 4%,
        #101010 51%,
        #2e2a18 100%
    );
}

.header-content {
    display: flex;
    align-items: center;
    max-width: 1400px;
    justify-content: space-around;
}

.image-block img {
    width: 650px;
    max-width: 100%;
}

.text-block {
    text-align: left;
    margin: 50px 0px;
    max-width: 555px;
}

.text-block h1 {
    margin: 0;
    font-size: 72px;
    text-transform: uppercase;
}

.text-block p {
    font-size: 26px;
}

/* feature */
.features-icons {
    padding: 41px 76px;
    color: #101010;
}

.features-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    row-gap: 35px;
}

.feature {
    flex: 1 1 320px;
    max-width: 320px;
    margin: 0 auto;
}

.feature img {
    width: 145px;
    height: auto;
    margin-bottom: 10px;
}

.feature h3 {
    font-size: 28px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.feature p {
    font-size: 20px;
    color: #333;
    margin: 0;
    padding: 0;
}

/* divider */
.section-divider {
    margin: auto;
    width: calc(100% - 152px);
    box-sizing: border-box;
    height: 2px;
    background-color: #c9c9c9;
    border-radius: 25px;
}

/* primary section */
.primary-content {
    padding: 41px 76px;

    text-align: center;
    color: #101010;
}

.primary-text {
    max-width: 1400px;
    margin: 0 auto 34px;
}

.primary-text h2 {
    font-size: 64px;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.primary-text p {
    font-size: 20px;
    color: #101010;
    margin: 0;
}

.primary-image img {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 4px;
}
@media (max-width: 768px) {
    /* header  */
    .header-content {
        flex-direction: row;
        justify-content: left;
    }

    .text-block {
        text-align: left;
    }
    .image-block img {
        display: none;
    }

    /* feature */
    .features-icons {
        padding: 30px 41px;
    }

    .features-container {
        row-gap: 35px;
        align-items: center;
    }
    /* divider */
    .section-divider {
        width: calc(100% - 60px);
    }

    /* primary section */
    .primary-content {
        padding: 30px 41px;
    }
    .primary-text h2 {
        font-size: 50px;
    }
}

@media (max-width: 360px) {
    /* header  */
    .text-block h1 {
        font-size: 41px;
    }
    .text-block p {
        font-size: 20px;
    }

    /* feature */
    .features-icons {
        padding: 20px 41px;
    }

    .feature img {
        width: 115px;
    }

    /* divider */
    .section-divider {
        width: calc(100% - 40px);
    }

    /* primary section */
    .primary-content {
        padding: 20px 41px;
    }
    .primary-text h2 {
        font-size: 46px;
    }
}
.secondary-content {
    padding: 41px 76px;
    color: #101010;
    background-color: #d9d9d9;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    align-items: stretch;
    transition: gap 3000ms ease-in-out;
}

.card {
    background: #c9c9c9;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    padding: 0;
    max-width: 1400px;
    flex-basis: 630px;
    display: flex;
    flex-direction: row;

    transform: translateX(0);
    opacity: 1;
    transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out,
        flex-basis 1000ms ease-in-out, max-width 1000ms ease-in-out;
    will-change: transform, opacity;
}
.card:hover {
    transition: 0.2s ease-in-out;
    scale: 1.01;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.card:hover .title {
    transition: 0.2s ease-in-out;
    color: #a47632;
}
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 41px;
    margin: 0;
    gap: 20px;
}

.title {
    font-size: 28px;
    margin: 0;
}
.divider {
    width: 160px;
    box-sizing: border-box;
    height: 1px;
    background-color: #9c9c9c;
    border-radius: 25px;
}
.description {
    font-size: 20px;
    margin: 0;
}
.card button,
.expanded-content button {
    position: relative;
    overflow: hidden;
    font-size: 27px;
    padding: 1px 32px;
    border: 1px solid #a47632;
    background-color: transparent;
    color: #000000;
    border-radius: 8px;
    transition: background 0.3s;
    cursor: pointer;
    z-index: 0;
}
.card button:hover,
.expanded-content button:hover {
    transition: 0.3s ease-in-out;
    color: #fff;
}
.card button::before,
.expanded-content button:before {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 150%;
    border-radius: 20px;
    background-color: #a47632;
    transition: left 0.3s ease-in-out;
    z-index: -1;
}
.card button:hover::before,
.expanded-content button:hover::before {
    left: -10%;
}
.card-icon {
    width: 340px;
    height: auto;
    transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}

.card.card--expanded {
    transition: transform 2000ms ease-in-out, opacity 2000ms ease-in-out,
        flex-basis 2000ms ease-in-out, max-width 2000ms ease-in-out;
    will-change: transform, opacity;
}
.card .title,
.card .divider,
.card .description,
.card button,
.card .card-icon {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 800ms ease-in-out, transform 800ms ease-in-out;
}

.card.card--expanded {
    flex-basis: 100%;
    background: #d9d9d9;
    box-shadow: none;
    z-index: 5;
    transform: translateX(0) scale(1);
    display: flex;
    gap: 210px;
    margin: 0 auto;
}
.card.card--expanded:hover {
    scale: unset;
    box-shadow: none;
}
.card.card--expanded:hover .title {
    color: #000000;
}
.card.card--hidden-right {
    transform: translateX(120%);
    opacity: 0;
    pointer-events: none;
    position: absolute; /* убираем из потока */
    flex: 0 0 0; /* не занимает места */
}
.card.card--expanded .card-content {
    text-align: left;
    align-items: normal;
}
.card.card--expanded .card-content button {
    width: 125px;
}
.expanded-divider {
    width: auto;
    box-sizing: border-box;
    height: 1px;
    background-color: #a47632;
    border-radius: 25px;
}

@media (max-width: 768px) {
    .expanded-content {
        flex-direction: column;
        align-items: center;
    }
    .expanded-content .text {
        text-align: center;
    }
}
